.top-bar, .contain-to-grid, .top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #3a9538; /* Parsley green 3a9538 */
}

body{
    overflow:hidden;
}

.left-off-canvas-menu{
    background: #cfd9ce;
    color: #333333;
}

.logo{
    font-size: 2em !important;
}

.side-nav li a:not(.button) {
    font-size: 1.3em;
    color: #333333;
}
.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):active{
    color: #000;
}
.contain-to-grid .top-bar, .row{
    max-width: 120rem;
}

span{
    color: #6bc7e5;
}

.white{
    color: #fff !important;
}

.logged-in{
    margin: 10px 25px 10px 5px;
}

.logo{
    height: 45px;
    width: auto;
}

.side-nav{
    background: #cfd9ce;
    margin-bottom: -3000px;
    padding-bottom: 3000px;
}

.main-content{
    margin: 5px 0 0 20px;
}

.columns{
    padding: 0;
}