.top-bar, .contain-to-grid, .top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: #3a9538; /* Parsley green 3a9538 */
}

body{
    overflow:hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.left-off-canvas-menu{
    background: #cfd9ce;
    color: #333333;
}

.logo{
    font-size: 2em !important;
}

.side-nav li a:not(.button) {
    font-size: 1.3em;
    color: #333333;
}
.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):active{
    color: #000;
}

.side-nav .active{
    background: #fff;
    color: #6bc7e5;
}

.contain-to-grid .top-bar, .row{
    max-width: 120rem;
}

span{
    color: #6bc7e5;
}

.alert{
    padding: 8px;
    margin-right: 5%;
}

.website{
    line-height: 34px;
    font-size: 1.4em;
}

.white{
    color: #fff !important;
}

.logged-in{
    margin: 10px 25px 10px 5px;
}

.title-area{
    margin-left: 20px;
}

.logo{
    height: 45px;
    width: auto;
}

.side-nav{
    background: #cfd9ce;
    margin-bottom: -3000px;
    padding-bottom: 3000px;
}

.main-content{
    margin: 15px 0 0 30px;
}

.columns-special{
    padding: 5px 25px !important;
}
.unsub-row{
    padding-right: 40%;
}
.inline-block{
    display: inline-block;
}
.columns{
    padding: 0;
}